.profile-container {
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 50%;
  background-color: #f0f8ff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
}
