<div class="container">
  <div class="card">
    <img src="info.jpg" alt="Advanced Database Management">
    <div class="card-content">
      <div class="card-title">Advanced Database Management</div>
      <div class="card-subtitle">(MESIIN470324)</div>
      <div class="category">Informatique</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="info.jpg" alt="AI Algorithms">
    <div class="card-content">
      <div class="card-title">AI Algorithms</div>
      <div class="card-subtitle">(MESIIN476024)</div>
      <div class="category">Informatique</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="info.jpg" alt="Applied cryptography">
    <div class="card-content">
      <div class="card-title">Applied cryptography</div>
      <div class="card-subtitle">(MESIIN483524)</div>
      <div class="category">Informatique</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="maths.jpg" alt="Computational modeling">
    <div class="card-content">
      <div class="card-title">Computational modeling</div>
      <div class="card-subtitle">(MESISI482524)</div>
      <div class="category">Sciences de l'ingénieur</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="info.jpg
" alt="Containerization Technologies">
    <div class="card-content">
      <div class="card-title">Containerization Technologies</div>
      <div class="card-subtitle">(MESIIN483624)</div>
      <div class="category">Informatique</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="info.jpg" alt="Decentralization Technologies">
    <div class="card-content">
      <div class="card-title">Decentralization Technologies</div>
      <div class="card-subtitle">(MESIIN483724)</div>
      <div class="category">Informatique</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="skills.png" alt="Ethique de l'ingénieur">
    <div class="card-content">
      <div class="card-title">Ethique de l'ingénieur #</div>
      <div class="card-subtitle">(MESIDV470124)</div>
      <div class="category">Skills</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="info.jpg" alt="Explainability AI">
    <div class="card-content">
      <div class="card-title">Explainability AI</div>
      <div class="card-subtitle">(MESIIN483824)</div>
      <div class="category">Informatique</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="skills.png" alt="Formation au MBTI">
    <div class="card-content">
      <div class="card-title">Formation au MBTI</div>
      <div class="card-subtitle">(MESISK470124)</div>
      <div class="category">Skills</div>
    </div>
    <div classa="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
  <div class="card">
    <img src="info.jpg" alt="Green AI">
    <div class="card-content">
      <div class="card-title">Green AI</div>
      <div class="card-subtitle">(MESIIN475924)</div>
      <div class="category">Informatique</div>
    </div>
    <div class="card-footer">
      <span class="favorite">☆</span>
    </div>
  </div>
</div>
